<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empleados</title>
    </head>
    <body>
        <h1>Empleados:</h1>
        <ul id="employees_list"></ul>

        <script type="module">
            function parse_data(content) {
                const container = document.getElementById("employees_list");

                for (const item of content) {
                const elem = document.createElement("p");
                elem.innerText = item.nombre;
                container.append(elem);
                }
            }

            fetch("http://localhost:5000/api/v1/empleados")
                .then((res) => res.json())
                .then(parse_data)
                .catch((error) => console.log("ERROR", error))
        </script>
    </body>
</html>
