<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empleados</title>
  </head>
  <body>
    <h1>Empleados</h1>
    <p>Lista todos los empleados...</p>
    <ul id="employees_list"></ul>

    <script type="module">
      async function response_received(response) {
        const data = await response.json();
        return data;
      }

      function parse_data(content) {
        const container = document.getElementById("employees_list");

        for (const item of content) {
          const elem = document.createElement("p");
          elem.innerText = item.nombre;
          container.append(elem);
        }
      }

      function request_error(err) {
        console.log(err);
      }

      function get_employees() {
        fetch("http://localhost:5000/api/v1/empleados")
          .then(response_received)
          .then(parse_data)
          .catch(request_error);
      }

      get_employees();
    </script>
  </body>
</html>
