<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
    <title>Fichar</title>
</head>
<body>
    <nav>
        <a class="back-button basic-button" href="/">Volver</a>
        <h5>Nuevo Registro</h5> 
    </nav>
    <div class="center">
      
        <form onsubmit="create_register(event)">
            <label for="employees">Lista de Empleados:</label>
            <select id="employees" name="employees" required>
            </select>
            
            <label for="timestamp">Hora de Llegada/Salida</label>
            <input type="time" id="timestamp" name="timestamp" placeholder="10:00" required>
            
            <button class="basic-button">Hecho</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/check/check.js')}}"></script>
</body>
</html>