<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empleado</title>
</head>
<body>
    <h2 >Empleado</h2>
    <form onsubmit="crear_employee(event)">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" placeholder="Lionel" required>

        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" name="lastname" placeholder="Messi" required>

        <label for="dni">DNI</label>
        <input type="number" id="dni" name="dni" placeholder="XXXXXXXX" required>
    
        <label for="entry">Horario de entrada</label>
        <input type="text" id="entry" name="entry" placeholder="10:00" required>

        <label for="output">Horario de salida</label>
        <input type="text" id="output" name="output" placeholder="16:00" required>
       
        <button>Submit</button>
    </form>
    <script>
        function handle_response(data) {
            if (data.sucess) {
                alert("Se pudo crear el empleado")
                window.location.href = `/empleados/${data.id}`
            }else {
                alert("Error al crear al empleado")
            }
        }

        function create_employee(event) {
            event.preventDefault()
            const formData = new FormData(event.target)
            const name = formData.get("name")
            const lastname = formData.get("lastname")
            const dni = formData.get("dni")
            const horario_entrada = formData.get("entry")
            const horario_salida = formData.get("output")

            fetch("http://localhost:5000/api/v1/empleados", {method:"POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    nombre: name,
                    apellido: lastname,
                    dni: dni,
                    horario_entrada: horario_entrada,
                    horario_salida: horario_salida
                })
            })
            .then((res) => res.json())
            .then(handle_response)
            .catch((error) => console.log("ERROR", error))
        }
    </script>

</body>
</html>
