<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registros</title>
    </head>
    <body>
        <a href="registros/agregar">Agregar</a>
        <h1>Registros:</h1>
        <ul id="registers_list"></ul>

        <script>
            function handle_delete_request(data) {
                if (data.success) {
                    alert("Registro Borrado Exitosamente!")
                }else {
                    alert("Error. No se pudo eliminar")
                }
            }

            function delete_register(id) {
                const popup = confirm("¿Estás seguro de eliminar el registro?")
                if (popup) {
                    fetch(`http://localhost:5000/api/v1/registers/${id}`, {method:"DELETE"})
                    .then((res) => res.json())
                    .then(handle_delete_request)
                    .catch((error) => console.log("error:", error))
                    const container_register = document.getElementById(id)
                    container_register.remove()
                } 
            }

            function handle_data(data) {
                const container = document.getElementById("registers_list")
                for (const register of data) {
                    const employee = register.employee
                    const elem = document.createElement("div")
                    elem.setAttribute("id", `${register.id}`)
                    const register_name = document.createElement("p")
                    register_name.innerText = `Fichaje: ${employee.last_name}, ${employee.first_name}`
                    const register_timestamp = document.createElement("p")
                    register_timestamp.innerText = `${register.timestamp}`
                    const register_is_check_in = document.createElement("p")
                    register_is_check_in.innerText = `${register.is_check_in}`
                    const delete_button = document.createElement("button")
                    delete_button.setAttribute("onclick", `delete_register(${register.id})`)
                    delete_button.innerText = "Borrar"
                    const edit_button = document.createElement("a")
                    edit_button.setAttribute("href", `registros/editar?id=${register.id}`)
                    edit_button.innerText = "Editar"
                    elem.append(register_name)
                    elem.append(register_timestamp)
                    elem.append(register_is_check_in)
                    elem.append(edit_button)
                    elem.append(delete_button)
                    container.append(elem)
                }
            }

            fetch("http://localhost:5000/api/v1/registers")
                .then((res) => res.json())
                .then(handle_data)
                .catch((error) => console.log("error:", error))
        </script>
    </body>
</html>