<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
        <title>Empleados</title>
    </head>
    <body>
        <nav>
            <a class="back-button basic-button" href="/">Volver</a>
            <a class="add-button basic-button" href="empleados/agregar">Agregar</a>
            <div>
                <label for="num_employeers">Cantidad de empleados: 0 -</label>
                <input type="number" id="num_employeers" name="num_employeers" placeholder="100">
                <button class="basic-button" onclick="search_employees()">Hecho</button>
            </div>
        </nav>

        <h1>Empleados:</h1>
        <ul id="employees_list"></ul>

        <script>
            function search_employees() {
                const num = document.getElementById("num_employeers").value
                document.getElementById("employees_list").innerHTML = ""
                fetch(`http://localhost:5000/api/v1/employees?limit=${num}`)
                .then((res) => res.json())
                .then(handle_data)
                .catch((error) => console.log("error:", error))
            }

            function handle_delete_request(data) {
                if (data.success) {
                    alert("Empleado Borrado Exitosamente!")
                } else {
                    alert("Error. No se pudo eliminar")
                }
            }

            function delete_employee(id) {
                const confirm_popup = confirm("¿Estás seguro de eliminar al empleado?")
                if (confirm_popup) {
                    fetch(`http://localhost:5000/api/v1/employees/${id}`, {method:"DELETE"})
                    .then((res) => res.json())
                    .then(handle_delete_request)
                    .catch((error) => console.log("error:", error))
                    document.getElementById(id).remove()
                } 
            }

            function edit_employee(id) {
                window.location.href = `employees/edit?id=${id}`
            }

            function handle_data(data) {
                const container = document.getElementById("employees_list")
                for (const employee of data) {

                    const row = document.createElement("div")
                    const employee_name = document.createElement("p")
                    const delete_button = document.createElement("button")
                    const edit_button = document.createElement("button")

                    row.setAttribute("id", `${employee.id}`)
                    row.setAttribute("class","employee-card")
                    delete_button.setAttribute("onclick", `delete_employee(${employee.id})`) 
                    edit_button.setAttribute("onclick", `edit_employee(${employee.id})`)

                    delete_button.setAttribute("class", "basic-button") 
                    edit_button.setAttribute("class", "basic-button") 

                    employee_name.innerText = `${employee.last_name}, ${employee.first_name}`
                    edit_button.innerText = "Editar"
                    delete_button.innerText = "Borrar"
                    
                    row.append(employee_name)
                    row.append(edit_button)
                    row.append(delete_button)
                    container.append(row)
                }
            }

            fetch("http://localhost:5000/api/v1/employees")
            .then((res) => res.json())
            .then(handle_data)
            .catch((error) => console.log("error:", error))
        </script>
    </body>
</html>
