<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
</head>
<body>
    <h2 id="empleado-nombre"></h2>
    <form onsubmit="edit_employee(event)">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" placeholder="Lionel" required>

        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" name="lastname" placeholder="Messi" required>

        <label for="dni">DNI</label>
        <input type="text" id="dni" name="dni" placeholder="12345678" maxlength="8" minlength="8" required>
    
        <label for="entry">Horario de entrada</label>
        <input type="time" id="entry" name="entry" placeholder="10:00" required>

        <label for="output">Horario de salida</label>
        <input type="time" id="output" name="output" placeholder="16:00" required>
       
        <button>Submit</button>
    </form>
    <script>
        const params = new URLSearchParams(window.location.search)
        const id = params.get("id") //La url que redireccion debe ser /empleados/editar?id=1
        
        if (id == null) {
            window.location.href = "/"
        }

        function handle_data(data) {
            document.getElementById("empleado-nombre").innerText = "Empleado " + data.nombre + ", " + data.apellido
            document.getElementById("name").value = data.nombre
            document.getElementById("lastname").value = data.apellido
            document.getElementById("dni").value = data.dni
            document.getElementById("entry").value = data.horario_entrada
            document.getElementById("output").value = data.horario_salida
        }

        fetch(`http://localhost:5000/api/v1/empleados/${id}`, {method:"GET"})
            .then((res) => res.json())
            .then(handle_data)
            .catch((error) => console.log("ERROR", error))

        function handle_response(data) {
            if (data.sucess) {
                alert("Empleado Modificado")
                window.location.href = `/empleados/${data.id}`
            }else {
                alert("Error al editar al empleado")
            }
        }

        function edit_employee(event) {
            event.preventDefault()
            const formData = new FormData(event.target)
            const name = formData.get("name")
            const lastname = formData.get("lastname")
            const dni = formData.get("dni")
            const horario_entrada = formData.get("entry")
            const horario_salida = formData.get("output")

            fetch(`http://localhost:5000/api/v1/empleados/${id}`, {method:"PUT",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    nombre: name,
                    apellido: lastname,
                    dni: dni,
                    horario_entrada: horario_entrada,
                    horario_salida: horario_salida
                })
            })
            .then((res) => res.json())
            .then(handle_response)
            .catch((error) => console.log("ERROR", error))
        }
    </script>

</body>
</html>