<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <main>
        <div class="opciones">
            <span class="boton"><h2>Fichar</h2></span>
            <span class="boton"><h2>Empleados</h2></span>
            <span class="boton"><h2>Registros</h2></span>
        </div>
    </main>
<footer>
    <p>Soy un footer</p>
</footer>
</body>

</html>