/* Reglas generales */
@import url(general.css);
@import url(buttons.css);
@import url(variables.css);


html{
    min-height: 100vh;
    margin-inline: clamp(1rem, 5%, 8%);
    padding-top: var(--top-offset);
}
body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
main{
    display: grid;
    padding: 2rem;
    place-content: center;
    min-height: 90vh;

}
.options{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 1rem;
}

a{
    text-decoration: none;
}

@media (min-width: 220px) {
    :root {
        --cols: 1;
    }
}
  
@media (min-width: 900px) {
:root {
    --cols: 2;
    --nav-direction: row;
    --top-offset: 10vh;
    
}
}
  
@media (min-width: 1200px) {
:root {
    --cols: 4;
}
}

@media (min-width: 1600px) {
    :root {
        --cols: 5;
    }
}
input[type="number"]{
    max-width: 4rem;
}

#registers_panel {
    margin-top: 50px;
}