/* Regla Universal */
*{
    box-sizing: border-box;
    font-family: 'Raleway', 'calibri' , sans-serif;
}

/* Margenes */
body,
h1,
h2,
h3,
h4
.menu{
    margin: 0;
}
/* Rellenos */
.menu{
    padding: 0;
}
/* Bordes */
iframe{
    border: 0;
}
/* Estilos */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Componentes */

